/*=========================================== GERAL ==================================*/
* { /* configurações padrão para todos os elementos */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* tamanho do conteúdo contando apartir da borda */
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  /* COLORs */
  /*Primary Colors*/ /* variável para utilização de cores */
  --hue: 223;

  --white: hsl(0, 0%, 100%);
  --black: black;

  --primary: hsl(var(--hue), 100%, 96%);
  --secundary: hsl(calc(var(--hue) + 5), 81%, 59%);
  --hover: hsl(calc(var(--hue) + 7), 57%, 50%);

  --fundo: hsl(223, 100%, 96%);
  --buttom: hsl(228, 81%, 59%);
  --buttomHover: hsla(230, 57%, 50%);

  /*
  fundo azul clarinho - #EDF2FF -> background: hsl(223, 100%, 96%);
  botão               - #4263EB -> background: hsl(228, 81%, 59%);
  hover do botão      - #364FC7 -> background: hsla(230, 57%, 50%);
  fundo azul escuro   - #00082F -> background: hsl(230, 100%, 9%);
  */
}

a {
  text-decoration: none;
}

/*=========================================== BODY ==================================*/
body{
  background: #282a36; /* #282a36 darkula theme */ 
  font-family: 'Roboto', sans-serif;
  
}

body .container {
  width: 30rem;
  text-align: center;
  margin: 6rem auto;
  background: var(); /* #44475a darkula theme*/
  padding: 1px;
  border-radius: 0.6rem;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  padding: 0.4rem;
  border: 0.4rem var(--secundary) solid;
}

h1 {
  margin-top: 2.4rem;
  margin-bottom: 0.8rem;

  font-size: 3.2rem;
  color: var(--white);
}

p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: var(--white);
  opacity: 0.8;
  font-size: 1.8rem;
}

ul {
  list-style: none;
  margin: 4.8rem 0;
}

ul li a {  
  display: flex; /* destrava algumas funcionalidade interessantes */
  height: 5.3rem;
  align-items: center;
  justify-content: center;

  background: var(--secundary);
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.4rem;

  margin-bottom: 1.6rem;
  border-radius: 0.6rem;

  transition: background 400ms;
}

ul li a:hover {
  background: var(--hover);
}

footer {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--hover);
  opacity: 0.6;
}